@font-face {
    font-family: 'Inter123';
    src: url('Inter123.ttf');
}

*{  
    font-family: "PT Sans", "Inter123", sans-serif;
}

input {width: 38px;
    height: 28px;
    border: none;
    background-color: #444;
    border-radius: 5px;
    text-align: center;
    margin-left: 5px;
}
input, textarea, input::placeholder, input::selection, div#leechPCartFP, div#atkPCartFP, div#defPCartFP, div#energPCartFP, div#pillPCartFP, div#stimPCartFP {
    color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none; 
    margin: 0;
}

div#pillPFP, div#pillPQ, div#pillPP,
div#stimPFP, div#stimPQ, div#stimPP,
div#atkPFP, div#atkPQ, div#atkPP,
div#defPFP, div#defPQ, div#defPP,
div#leechPFP, div#leechPQ, div#leechPP,
div#energPFP, div#energPQ, div#energPP,
div#finalPrice {
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 5px;
    color:white
}

div.price {
    color: white;
    display: flex;
    align-items: center;
    height: 30px;
}

body {
    display: flex;
    background-color: #282828;
    justify-content: center;    
    margin-top: 6%;
    /* align-items: center; */
}

div.store {
    display: flex;    
    flex-wrap: wrap;    
    width: 447px;   
    height: 673px; 
}

div.prod {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1D1D1D;
    border-radius: 12px;
    width: 218px;
    height: 218px;
    margin-left: 5px;
    margin-bottom: 5px;
}

div.prod-text {
    margin-left: 10px;
    margin-bottom: 4px;
}


div.cart {
    margin-left: 20px;
}

img {
    margin-top: 5px;
}

img.img {
    width: 100px;
    margin-left: -4px;
}
img.icon {
    width: 60px;
    margin-left: 7px;
}

div.price {
    color: #676767;
}

div.cart {
    width: 240px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 27px;
}

div.finalPrice {
    display: flex;
    color: #676767;
    font-weight: bold;
    font-size: 27px;
}

div.cart-items {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;    
    justify-content: space-between;
    height: 455px;
}

div.cart-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #1D1D1D;
    border-radius: 12px;
    height: 60px;
}

div.cart-text {
    color: #444;
    display: flex;
    justify-content:space-around;
    width: 100%;
}

div.cart-head {
    display: flex;
    margin-left: 10px;    
}

h1#stim,h1#pill,h1#leech,h1#atk,h1#def,h1#energ {
    font-size: 14px;
}

img.cart-icon {
    width: 20px;
    height: 23px;
    margin-left: 10px;
    margin-top: -2px;
}

div.priceCart {
    display: flex;
    color: white;
}

div.test {
    display: flex;
    justify-content: space-around;
}

div.test1 {
    display: flex;
    justify-content: space-between;
    color: white;
}

div.test2 {
    margin-right: 4px;
}
div.test3 {
    margin-left: 4px;
}

#fin {
    background-color: #1D1D1D;
    color: white;
    border-radius: 12px;
    border-width: 2px;
    border-color: green;
    border-style: solid;
    height: 55px;
    font-weight: bold;
}

div#stim-info, div#pill-info, div#speed-info, div#def-info, div#atk-info, div#leech-info  {
    display: none;
    color:white;
    text-align: center;
}

div.stim-info>h1, div.pill-info>h1, div.speed-info>h1, div.def-info>h1, div.atk-info>h1, div.leech-info>h1 {
    margin-bottom: 5px;
    padding-top: 5px;
    font-size: 17px;
    height: 35px;
    width: 250px;
    background-color: #1D1D1D;
    margin: 0;    
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;    
    border: #aaa solid;
    border-bottom: none;
    border-width: 2px;
}

div.stim-info>p, div.pill-info>p, div.speed-info>p, div.def-info>p, div.atk-info>p, div.leech-info>p {
    height: 70px;
    width: 250px;
    background-color: #1D1D1D;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;    
    border: #aaa solid;
    border-top: none;
    border-width: 2px;
}

div.pill-info>p {
    height: 50px;
}

div.stim-info {
    position: relative;
    top: -94px;
    right: 260px;
    height: 0;    
}
div.pill-info {
    position: relative;
    top: -100px;
    left: 227px;
    height: 0;    
}
div.speed-info {
    position: relative;
    top: -121px;
    left: 227px;
    height: 0;    
}
div.def-info {
    position: relative;
    top: -121px;
    right: 260px;
    height: 0;    
}
div.atk-info {
    position: relative;
    top: -121px;
    right: 260px;
    height: 0;    
}
div.leech-info {
    position: relative;
    top: -121px;
    left: 227px;
    height: 0;    
}







div#leechPQ, div#defPQ, div#atkPQ, div#energPQ, div#pillPQ, div#stimPQ {
    display: none;
}